# Predicting Stock Prices

## Introduction:
In this project we are going to be using data of stock prices from 1950 up to 2015 to train a model to predict stock prices. We are going to use different `scikit-learn` models and compare how they all perform.

We are going to be performing the following tasks:
1. Read the csv file into a pandas DataFrame.
2. Convert the `Date` column into a datetime object.
3. Sort the DataFrame by date in ascending order.
4. Calculate the rolling mean for the past 30 days for each of the columns except the `Date` column.
5. Use the `DataFrame.shift()` method to shift the rolling values by 1 day. This is because when calculating rolling mean, the value for that day is also included, so we have to shift it to prevent leaking data to the model.
6. Make predictions using the rolling columns.

In [1]:
import pandas as pd
from datetime import datetime
from sklearn.linear_model import LinearRegression, Ridge
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

In [2]:
stocks = pd.read_csv('sphist.csv')
stocks.head()

,Date,Open,High,Low,Close,Volume,Adj Close
0,2015-12-07,2090.419922,2090.419922,2066.780029,2077.070068,4.043820e+09,2077.070068
1,2015-12-04,2051.239990,2093.840088,2051.239990,2091.689941,4.214910e+09,2091.689941
2,2015-12-03,2080.709961,2085.000000,2042.349976,2049.620117,4.306490e+09,2049.620117
3,2015-12-02,2101.709961,2104.270020,2077.110107,2079.510010,3.950640e+09,2079.510010
4,2015-12-01,2082.929932,2103.370117,2082.929932,2102.629883,3.712120e+09,2102.629883

In [3]:
stocks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16590 entries, 0 to 16589
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       16590 non-null  object
 1   Open       16590 non-null  float64
 2   High       16590 non-null  float64
 3   Low        16590 non-null  float64
 4   Close      16590 non-null  float64
 5   Volume     16590 non-null  float64
 6   Adj Close  16590 non-null  float64
dtypes: float64(6), object(1)
memory usage: 907.4+ KB

In [4]:
stocks['Date'] = pd.to_datetime(stocks['Date'])
stocks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16590 entries, 0 to 16589
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       16590 non-null  datetime64[ns]
 1   Open       16590 non-null  float64
 2   High       16590 non-null  float64
 3   Low        16590 non-null  float64
 4   Close      16590 non-null  float64
 5   Volume     16590 non-null  float64
 6   Adj Close  16590 non-null  float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 907.4 KB

In [5]:
stocks.sort_values('Date', ascending=True, inplace=True)

In [6]:
stocks = stocks.reset_index()

In [7]:
stocks.head(10)

,index,Date,Open,High,Low,Close,Volume,Adj Close
0,16589,1950-01-03,16.660000,16.660000,16.660000,16.660000,1260000.0,16.660000
1,16588,1950-01-04,16.850000,16.850000,16.850000,16.850000,1890000.0,16.850000
2,16587,1950-01-05,16.930000,16.930000,16.930000,16.930000,2550000.0,16.930000
3,16586,1950-01-06,16.980000,16.980000,16.980000,16.980000,2010000.0,16.980000
4,16585,1950-01-09,17.080000,17.080000,17.080000,17.080000,2520000.0,17.080000
5,16584,1950-01-10,17.030001,17.030001,17.030001,17.030001,2160000.0,17.030001
6,16583,1950-01-11,17.090000,17.090000,17.090000,17.090000,2630000.0,17.090000
7,16582,1950-01-12,16.760000,16.760000,16.760000,16.760000,2970000.0,16.760000
8,16581,1950-01-13,16.670000,16.670000,16.670000,16.670000,3330000.0,16.670000
9,16580,1950-01-16,16.719999,16.719999,16.719999,16.719999,1460000.0,16.719999

In [8]:
for column in stocks.columns.drop(['Date', 'index']):
    stocks['rolling_'+ column] = stocks[column].rolling(30).mean()

In [9]:
stocks

,index,Date,Open,High,Low,Close,Volume,Adj Close,rolling_Open,rolling_High,rolling_Low,rolling_Close,rolling_Volume,rolling_Adj Close
0,16589,1950-01-03,16.660000,16.660000,16.660000,16.660000,1.260000e+06,16.660000,NaN,NaN,NaN,NaN,NaN,NaN
1,16588,1950-01-04,16.850000,16.850000,16.850000,16.850000,1.890000e+06,16.850000,NaN,NaN,NaN,NaN,NaN,NaN
2,16587,1950-01-05,16.930000,16.930000,16.930000,16.930000,2.550000e+06,16.930000,NaN,NaN,NaN,NaN,NaN,NaN
3,16586,1950-01-06,16.980000,16.980000,16.980000,16.980000,2.010000e+06,16.980000,NaN,NaN,NaN,NaN,NaN,NaN
4,16585,1950-01-09,17.080000,17.080000,17.080000,17.080000,2.520000e+06,17.080000,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16585,4,2015-12-01,2082.929932,2103.370117,2082.929932,2102.629883,3.712120e+09,2102.629883,2074.125993,2084.300350,2065.624662,2076.283993,3.856341e+09,2076.283993
16586,3,2015-12-02,2101.709961,2104.270020,2077.110107,2079.510010,3.950640e+09,2079.510010,2076.411991,2086.472017,2067.308000,2077.908659,3.876979e+09,2077.908659
16587,2,2015-12-03,2080.709961,2085.000000,2042.349976,2049.620117,4.306490e+09,2049.620117,2077.986658,2088.039685,2068.145667,2078.931331,3.899603e+09,2078.931331
16588,1,2015-12-04,2051.239990,2093.840088,2051.239990,2091.689941,4.214910e+09,2091.689941,2078.965324,2089.327690,2069.124333,2080.237329,3.892405e+09,2080.237329
16589,0,2015-12-07,2090.419922,2090.419922,2066.780029,2077.070068,4.043820e+09,2077.070068,2080.039657,2089.683687,2069.410669,2080.301335,3.890250e+09,2080.301335

In [10]:
columns = stocks.columns

In [11]:
columns = [col for col in columns if 'rolling' in col]

In [12]:
columns

['rolling_Open',
 'rolling_High',
 'rolling_Low',
 'rolling_Close',
 'rolling_Volume',
 'rolling_Adj Close']

In [13]:
stocks[columns] = stocks[columns].shift() # shifts the rolling  column forward by 1 index

In [14]:
stocks

,index,Date,Open,High,Low,Close,Volume,Adj Close,rolling_Open,rolling_High,rolling_Low,rolling_Close,rolling_Volume,rolling_Adj Close
0,16589,1950-01-03,16.660000,16.660000,16.660000,16.660000,1.260000e+06,16.660000,NaN,NaN,NaN,NaN,NaN,NaN
1,16588,1950-01-04,16.850000,16.850000,16.850000,16.850000,1.890000e+06,16.850000,NaN,NaN,NaN,NaN,NaN,NaN
2,16587,1950-01-05,16.930000,16.930000,16.930000,16.930000,2.550000e+06,16.930000,NaN,NaN,NaN,NaN,NaN,NaN
3,16586,1950-01-06,16.980000,16.980000,16.980000,16.980000,2.010000e+06,16.980000,NaN,NaN,NaN,NaN,NaN,NaN
4,16585,1950-01-09,17.080000,17.080000,17.080000,17.080000,2.520000e+06,17.080000,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16585,4,2015-12-01,2082.929932,2103.370117,2082.929932,2102.629883,3.712120e+09,2102.629883,2072.419328,2082.003011,2063.604000,2073.984998,3.842181e+09,2073.984998
16586,3,2015-12-02,2101.709961,2104.270020,2077.110107,2079.510010,3.950640e+09,2079.510010,2074.125993,2084.300350,2065.624662,2076.283993,3.856341e+09,2076.283993
16587,2,2015-12-03,2080.709961,2085.000000,2042.349976,2049.620117,4.306490e+09,2049.620117,2076.411991,2086.472017,2067.308000,2077.908659,3.876979e+09,2077.908659
16588,1,2015-12-04,2051.239990,2093.840088,2051.239990,2091.689941,4.214910e+09,2091.689941,2077.986658,2088.039685,2068.145667,2078.931331,3.899603e+09,2078.931331
16589,0,2015-12-07,2090.419922,2090.419922,2066.780029,2077.070068,4.043820e+09,2077.070068,2078.965324,2089.327690,2069.124333,2080.237329,3.892405e+09,2080.237329

In [15]:
stocks.dropna(inplace=True)

In [16]:
stocks

,index,Date,Open,High,Low,Close,Volume,Adj Close,rolling_Open,rolling_High,rolling_Low,rolling_Close,rolling_Volume,rolling_Adj Close
30,16559,1950-02-15,17.059999,17.059999,17.059999,17.059999,1.730000e+06,17.059999,16.976667,16.976667,16.976667,16.976667,1.832000e+06,16.976667
31,16558,1950-02-16,16.990000,16.990000,16.990000,16.990000,1.920000e+06,16.990000,16.990000,16.990000,16.990000,16.990000,1.847667e+06,16.990000
32,16557,1950-02-17,17.150000,17.150000,17.150000,17.150000,1.940000e+06,17.150000,16.994667,16.994667,16.994667,16.994667,1.848667e+06,16.994667
33,16556,1950-02-20,17.200001,17.200001,17.200001,17.200001,1.420000e+06,17.200001,17.002000,17.002000,17.002000,17.002000,1.828333e+06,17.002000
34,16555,1950-02-21,17.170000,17.170000,17.170000,17.170000,1.260000e+06,17.170000,17.009333,17.009333,17.009333,17.009333,1.808667e+06,17.009333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16585,4,2015-12-01,2082.929932,2103.370117,2082.929932,2102.629883,3.712120e+09,2102.629883,2072.419328,2082.003011,2063.604000,2073.984998,3.842181e+09,2073.984998
16586,3,2015-12-02,2101.709961,2104.270020,2077.110107,2079.510010,3.950640e+09,2079.510010,2074.125993,2084.300350,2065.624662,2076.283993,3.856341e+09,2076.283993
16587,2,2015-12-03,2080.709961,2085.000000,2042.349976,2049.620117,4.306490e+09,2049.620117,2076.411991,2086.472017,2067.308000,2077.908659,3.876979e+09,2077.908659
16588,1,2015-12-04,2051.239990,2093.840088,2051.239990,2091.689941,4.214910e+09,2091.689941,2077.986658,2088.039685,2068.145667,2078.931331,3.899603e+09,2078.931331
16589,0,2015-12-07,2090.419922,2090.419922,2066.780029,2077.070068,4.043820e+09,2077.070068,2078.965324,2089.327690,2069.124333,2080.237329,3.892405e+09,2080.237329

In [17]:
train = stocks[stocks['Date'] < datetime(2013, 1, 1)].copy()
test = stocks[stocks['Date'] >= datetime(2013, 1, 1)].copy()

In [18]:
lr = LinearRegression()

In [19]:
columns = [col for col in columns if 'Close' not in col]

In [20]:
#finding the best columns
for column in columns:
    lr.fit(train[[column]], train['Close'])
    predictions = lr.predict(test[[column]])
    error = mean_absolute_error(test['Close'], predictions)
    print(f'{column}:{error}')

rolling_Open:33.24063273606843
rolling_High:34.6442384323335
rolling_Low:31.088749069159675
rolling_Volume:722.0621397679477

Seems the first 3 columns are the best for fitting the data and so we are going to be using them in our predictions.

In [21]:
lr.fit(train[columns[:3]], train['Close'])
lr_predictions = lr.predict(test[columns[:3]])
lr_error = mean_absolute_error(test['Close'], lr_predictions)
lr_error

24.701123937193827

In [22]:
ridge = Ridge()
ridge.fit(train[columns[:3]], train['Close'])
ridge_predictions = ridge.predict(test[columns[:3]])
ridge_error = mean_absolute_error(test['Close'], ridge_predictions)
ridge_error

24.700748763035797

In [23]:
rf = RandomForestRegressor()
rf.fit(train[columns[:3]], train['Close'])
rf_predictions = rf.predict(test[columns[:3]])
rf_error = mean_absolute_error(test['Close'], rf_predictions)
rf_error

363.5431661692146

There isn;;t much of a difference between the ridge regression model and the regular linear regression model, however the error increases significantly when we use a random forest regressor.

In [24]:
test['predictions'] = ridge_predictions

In [25]:
test

,index,Date,Open,High,Low,Close,Volume,Adj Close,rolling_Open,rolling_High,rolling_Low,rolling_Close,rolling_Volume,rolling_Adj Close,predictions
15851,738,2013-01-02,1426.189941,1462.430054,1426.189941,1462.420044,4.202600e+09,1462.420044,1411.835669,1419.305339,1405.109680,1414.258667,3.271409e+09,1414.258667,1427.581979
15852,737,2013-01-03,1462.420044,1465.469971,1455.530029,1459.369995,3.829730e+09,1459.369995,1414.263334,1422.652006,1407.871012,1417.676668,3.276632e+09,1417.676668,1446.336046
15853,736,2013-01-04,1459.369995,1467.939941,1458.989990,1466.469971,3.424290e+09,1466.469971,1417.681335,1425.271338,1411.059346,1420.092668,3.291797e+09,1420.092668,1436.253011
15854,735,2013-01-07,1466.469971,1466.469971,1456.619995,1461.890015,3.304970e+09,1461.890015,1420.099670,1427.877002,1413.791012,1422.714665,3.299034e+09,1422.714665,1444.882755
15855,734,2013-01-08,1461.890015,1461.890015,1451.640015,1457.150024,3.601600e+09,1457.150024,1422.722335,1430.384334,1416.132011,1425.076664,3.320297e+09,1425.076664,1442.617767
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16585,4,2015-12-01,2082.929932,2103.370117,2082.929932,2102.629883,3.712120e+09,2102.629883,2072.419328,2082.003011,2063.604000,2073.984998,3.842181e+09,2073.984998,2089.290992
16586,3,2015-12-02,2101.709961,2104.270020,2077.110107,2079.510010,3.950640e+09,2079.510010,2074.125993,2084.300350,2065.624662,2076.283993,3.856341e+09,2076.283993,2102.663830
16587,2,2015-12-03,2080.709961,2085.000000,2042.349976,2049.620117,4.306490e+09,2049.620117,2076.411991,2086.472017,2067.308000,2077.908659,3.876979e+09,2077.908659,2096.293519
16588,1,2015-12-04,2051.239990,2093.840088,2051.239990,2091.689941,4.214910e+09,2091.689941,2077.986658,2088.039685,2068.145667,2078.931331,3.899603e+09,2078.931331,2089.080075
16589,0,2015-12-07,2090.419922,2090.419922,2066.780029,2077.070068,4.043820e+09,2077.070068,2078.965324,2089.327690,2069.124333,2080.237329,3.892405e+09,2080.237329,2094.229732